---
layout: base
---
<div class="wrapper">
    <header>
        {% if site.compass.logo %}
        <div class="logo-container">
          <a class="logo" href="{{ page.baseurl }}" style="background-image: url('{{ site.baseurl }}{{ site.compass.logo }}')"></a>
        </div>
        {% endif %}

        {% if site.compass.author %}
        <div class="author-container"><h1>{{ site.compass.author }}</h1></div>
        {% endif %}

        {% if site.compass.tagline %}
        <div><a href="/">English</a> - <a href="/index-nl/">Nederlands</a></div>
        <div><a href="mailto:wedding@tosja-richard.com">contact masters of ceremonies</a></div>
        {% endif %}
    </header>
    <main>
      {% if site.compass.include_content %}
      <div class="content">

        {% include content-EN.html %}
      
      </div>
      {% endif %}
    </main>
</div>
