<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>

<div class="wrapper">

  <header>
  
  {% if site.compass.logo %}
  
  <div class="logo-container">
    <a class="logo" href="/" style="background-image: url('{{ site.baseurl }}{{ site.compass.logo }}')"></a>
  </div>
  
  {% endif %}
  
  {% if site.compass.author %}
  
  <div class="author-container">
  <h1>{{ site.compass.author }}</h1>
  </div>
  
  {% endif %}
  
  {% if site.compass.tagline %}
  
  <div class="RSVP"><a href="/">English</a> - <a href="/index-nl/">Nederlands</a></div>
  <div class="RSVP"><a href="mailto:wedding@tosja-richard.com">contact masters of ceremonies</a></div>
  
  {% endif %}
  
  </header>
  
  <main>
  
  {% if site.compass.include_content %}
  
  <div class="content">
  
    {{ content }}

    {% include mailchimp-en.html %}
  
  </div>
  
  {% endif %}
  
  </main>
  
  </div>

</body>
</html>
